<main style="margin: 40px;">
  <h2 style="display: flex; justify-content: center; text-align: center">
    Mario Ernst
  </h2>
  <div style="display: flex; justify-content: center; text-align: center; font-size: 14px;">
    Dipl. Inf., M.Sc. in Media
  </div>

  <div style="display: flex; justify-content: center; text-align: center">
    IT Consulting und Full Stack Development in Stuttgart
  </div>

  <section style="display: flex; justify-content: center; margin: 80px 0">
    <img src="assets/svg/i-can-do-things.svg" style="width: 80%" />
  </section>

  <section>
    <h3 style="display: flex; justify-content: center">
      <mark>Leistungen</mark>
    </h3>

    <p>
      IT Consulting für KMUs und Großkunden. Freiberuflich seit 2016. Mit 15+
      Jahren Berufserfahrung begleite ich digitale Transformationen von
      Unternehmen. Als Full Stack Entwickler biete Untersützung zur Entwicklung
      moderner Web-Anwendungen.
    </p>

    <div class="xxx">
      <div
        style="display: flex; flex-direction: column; flex-grow: 1; gap: 10px; max-width: 400px"
      >
        <div style="text-align: left">IT Consulting</div>
        <div style="text-align: left; font-size: 13px">
          Beratung bei der Einführung, Wartung und Weiterentwicklung von
          IT-Systemen
        </div>
      </div>
      <div
        style="display: flex; flex-direction: column; flex-grow: 1; gap: 10px; max-width: 400px"
      >
        <div style="text-align: left">Full Stack Entwicklung</div>
        <div style="text-align: left; font-size: 13px">
          Erstellung von Software durch Verwendung von aktuellen Frameworks
        </div>
      </div>
      <div
        style="display: flex; flex-direction: column; flex-grow: 1; gap: 10px; max-width: 400px"
      >
        <div style="text-align: left">Software&shy;architektur</div>
        <div style="text-align: left; font-size: 13px">
          Planung und Dokumentation von Softwaresystemen
        </div>
      </div>
    </div>
  </section>

  <section>
    <h3 style="display: flex; justify-content: center"><mark>Kontakt</mark></h3>

    <div style="display: flex; gap: 40px; font-size: 13px; justify-content: center;">
      <div>
        <div>Mario Ernst</div>
        <div>Buowaldstraße 43, 70619 Stuttgart</div>
      </div>
      <div>
        <div>+49 178 88 5555 4</div>
        <div>mario.ernst.consulting (_at_) gmail.com</div>
      </div>
    </div>
  </section>

  <section style="padding-bottom: 40px">
    <div style="font-size: 8px;">
      <h1>Impressum</h1>
      <h2>Angaben gemäß § 5 TMG</h2>
      <p>
        Mario Ernst<br />
        Buowaldstraße 43<br />
        70619 Stuttgart
      </p>
      <h2>Kontakt</h2>
      <p>
        Telefon: +49 178 8855554<br />
        E-Mail: mario.ernst.consulting (_at_) gmail.com
      </p>
      <h2>Umsatzsteuer-ID</h2>
      <p>
        Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:<br />
        DE304454733
      </p>
      <h2>Angaben zur Berufs&shy;haftpflicht&shy;versicherung</h2>
      <p>
        <strong>Name und Sitz des Versicherers:</strong><br />
        exali AG <br />
        Franz-Kobinger-Str. 9<br />
        86157 Augsburg
      </p>
      <h2>
        Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle
      </h2>
      <p>
        Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren
        vor einer Verbraucherschlichtungsstelle teilzunehmen.
      </p>
      <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    </div>

  </section>
</main>
<footer></footer>
